################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/CSharp-Logger/.vs
/CSharp-Logger/obj
/CSharp-Logger/bin
/Logger-test/bin
/Logger-test/obj
/Logger-test/logs
/Logger-Benchmark
